h2 {
  position:absolute;
  font-size: 500px;
  align-content: center;
  width: 280px;
  background-color: #ffffff;
  padding: 10px;
}


.headimg {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0;
}