.headimg {
  width: 100%;
  position: fixed;
  position: sticky;
  margin: 0 auto;
  top: 0;
}

.container {
  margin-top: 0px;
}

h3 {
  display: inline;
  margin: 10px;
}

.jumbotron {
  align-content: center;
  margin: 10px;
}